.colorPick-wrapper {
  border: 1px solid #d0d0d0;
  display: inline-flex;
  align-self: center;
  margin: 2rem;
  border-radius: 3px;

  & input {
    display: block;
    background-color: transparent;
    cursor: pointer;
    width: 41px;
    height: 35px;
    border-radius: 3px;
  }
}
